@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Nunito');

.task {
  display: flex;
  flex-wrap: wrap;

	max-width: 500px;
	min-height: 50px;
  margin-top: 10px;
  padding: 8px 24px;

  cursor: pointer;

  border-radius: 3px;
  background-color: #f9a825;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.9);

  font-family: 'Indie Flower', cursive;
  font-size: 20px;

  & + & {
    border-top: 1px solid #ccc;
  }

  &_done {
    text-decoration: line-through;

    background-color: #eeeeee;
  }

  &__added-time {
    width: 90%;
    padding: 5px;

    color: #424242;

    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    font-weight: bold;
  }
  &__color {
    width: 12px;
    height: 12px;
    margin: 10px 5px;

    transition: opacity 1s;

    border-radius: 50%;
    background-color: #00c853;
    &:hover {
      opacity: 0.2;
      background-color: #d32f2f;
    }
    &:active {
      background-color: #d32f2f;
    }
    &_high-priority {
      background-color: #d32f2f;
      &:active {
        background-color: #00c853;
      }
      &:hover {
        background-color: #00c853;
      }
    }
  }
}
.delete-icon {
  position: absolute;

  width: 30px;
  height: 30px;
  margin-top: 20px;
  margin-left: 480px;

  background: url(image/delete-icon.png) no-repeat;
  background-size: cover;

  &:active {
    border-radius: 50%;
    background-color: #ccc;
  }
  &:hover {
    opacity: 0.5;
  }
}
.text {
	margin-right: 20px;

	word-break: break-all;
}

.task-field {
  margin: 10px;
  padding: 5px 25px;

  border: 1px dashed #ccc;
  border-radius: 2px;

  font-family: 'Indie Flower', cursive;
  font-size: 20px;
}

.button {
  padding: 10px;

  cursor: pointer;

  color: #2196f3;
  border: 2px solid #000;
  border-radius: 3px;
  background-color: #bbdefb;
}

.edit-task {
  &__field {
    background-color: rgba(0, 0, 0, 0.3);
  }
}
