@import 'packages/task/task.scss';
@import '../add-task/add-task.scss';
@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Nunito');

.tasks {
  display: flex;
  flex-wrap: wrap;
  // width: 1000px;
  // margin: 48px auto;

	margin: 50px;
  padding: 40px;

	border-radius: 2px;
	background-color: #FFF176;
  box-shadow: 0 0 5px rgba(#000, 0.5);


  &__list {
		flex-basis: 600px;

		box-sizing: border-box;
		min-height: 500px;
		margin: 20px auto;
		padding: 20px;

		background:#FFF9C4;
		box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.9);
		&_loading {
			background: #E5D9E0 url(image/load.gif) no-repeat center 20px;
			
		}
  };

	&__title {
		color: #009688;
	}
}
